# Python

## 0. Introducción

Es un lenguaje de programación **interpretado** creado por Guido van Rossum, lanzado en 1991.

### Características principales

* Multiparadigma: POO, programación imperativa y programación funcional.
* Tipado dinámico.
* Diseñado para que el código pueda ser leído con facilidad.

### ¿ ̶P̶o̶r̶ ̶q̶u̶é̶ ̶l̶o̶ ̶a̶d̶o̶p̶t̶a̶m̶o̶s̶ ̶e̶n̶ ̶e̶s̶t̶e̶ ̶c̶u̶r̶s̶o̶? ¿Por qué Python en ML/DL/DS?

* Fácil de aprender y usar.
* Gran número de bibliotecas y librerías.
* Adopción por parte de empresas líderes.
* Multiuso.
* Enorme comunidad.

## Variables

Las variables se definen de forma dinámica, lo que significa que no se tiene que especificar cuál es su tipo de antemano y puede tomar distintos valores en otro momento, incluso de un tipo diferente al que tenía previamente. Se usa el símbolo **=** para asignar valores.

Los nombres de variables pueden contener números y letras pero **deben comenzar por una letra**, además existen 28 palabras reservadas

In [1]:
x = 10
y = 22.56
z = "python es increible"

x = "ahora reemplace el valor que tenia la variable previamente"

In [2]:
# esto es un comentario

**Tipado dinámico y la función type**

Python es un lenguaje de programación de tipado dinámico. Esto significa que a una variable le podemos reasignar distintos tipos de datos. La ventaja de esta característica es que lo convierte en un lenguaje de programación muy flexible. Por contra, hay que estar atento a qué tipo de dato tienen las distintas variables de nuestro código ya que sino podemos tener errores al ejecutar el programa. Para facilitar dicha tarea Python proporciona la función type() que nos indica el tipo de dato de la variable que deseamos evaluar.

In [3]:
mi_temperatura = 36.7
type(mi_temperatura)

float

In [4]:
mi_temperatura = 36
type(mi_temperatura)

int

**Identidad de un objeto**

Otro concepto en Python es la identidad de los objetos, la cual podemos obtener usando la función id(). Esta identidad es un número entero único y constante que identifica un objeto durante su tiempo de vida en memoria. Para entenderlo mejor, decimos que dos variables distintas tienen la misma identidad si apuntan al mismo objeto en memoria.

In [5]:
participantes = 20
competidores = participantes

In [6]:
id(participantes)

4434004880

In [7]:
id(competidores)

4434004880

In [8]:
id(participantes) == id(competidores)

True

In [9]:
competidores = 12

In [10]:
id(participantes) == id(competidores)

False

En el ejemplo anterior las variables participantes y competidores comparten inicialmente la misma identidad. Esto nos indica es que en memoria sólo existe una copia del objeto «20». Sin embargo al cambiar el valor de la variable competidores hacemos que esta apunte a un objeto distinto en memoria.

## 1. Estructuras de datos

<img src="images/data_structures.png" alt="drawing" width="800"/>

### Tipos de datos básicos

Todo en Python es un objeto y cada objeto en Python tiene un tipo de dato. Algunos de los tipos básicos incluyen:

* **int** (integer; un número entero)
    * 10
    * -3
* **float** (float; un número que tiene parte decimal)
    * 7.41
    * -0.006
* **str** (string; una secuencia de caracteres entre comillas simples, comillas dobles, o comillas triples)
    * 'hola a tod@s'
    * "hola a tod@s"
    * '''hola a tod@s'''
    * """hola a tod@s"""
* **bool** (boolean; un valor binario que puede ser Verdadero o Falso)
    * True
    * False
* **NoneType** (tipo especial que representa la ausencia de un valor)
    * None

### 1.1. Tipos Numéricos

### 1.1.1. Operaciones básicas entre valores numéricos

##### Suma

In [11]:
a = 2
b = 3

a + b

5

##### Resta

In [12]:
a = 5
b = 3

a - b

2

##### Multiplicación

In [13]:
a = 4
b = 8

a * b

32

##### División

In [14]:
a = 9
b = 2

a / b

4.5

El **cociente** de una división:

In [15]:
a // b

4

El **resto** de una división:

In [16]:
a % b

1

### 1.1.2. Otras operaciones

**Mínimo** y **máximo** entre dos valores:

In [17]:
min(1.4, 3)

1.4

In [18]:
max(1.4, 3)

3

**Valor absoluto**:

In [19]:
abs(-5)

5

**Redondeo**:

In [20]:
round(3.49)

3

In [21]:
round(3.5)

4

In [22]:
from math import floor, ceil

In [23]:
floor(3.5)

3

In [24]:
ceil(3.5)

4

## Strings

Los cadenas de caracteres (o **strings**) son un tipo de datos compuestos por secuencias de caracteres que representan texto. Estas cadenas de texto son de tipo str y se delimitan mediante el uso de comillas simples o dobles.

In [25]:
cadena1 = "esto es una cadena de caracteres"

In [26]:
cadena2 = 'esta es otra cadena'

In [27]:
type(cadena1)

str

In [28]:
cadena = "Python"

**Longitud** del string

In [29]:
len(cadena)

6

### Indexación de **strings**:

Cada uno de los caracteres de una cadena (incluidos los espacios) tiene asignado un **índice**. Este índice nos permite **seleccionar su carácter asociado haciendo referencia a él entre corchetes** (**[]**) en el nombre de la variable que almacena la cadena. Si consideremos el orden de izquierda a derecha, el **índice empieza en 0 para el primer carácter**, etc. También se puede considerar el orden de derecha a izquierda, en cuyo caso al último carácter le corresponde el índice -1, al penúltimo -2 y así sucesivamente. Este método es útil si por ejemplo queremos acceder a caracteres en las ultimas posiciones de una cadena con muchos caracteres de la cual no conocemos su longitud.

<img src="images/indexacion_strings.png" alt="drawing" width="500"/>

Accediendo al 1er caracter

In [30]:
cadena[0]

'P'

In [31]:
cadena[3]

'h'

**¿Qué sucede su accedemos a un índice inválido?**

In [32]:
cadena[6]

IndexError: string index out of range

### Rebanada de strings

Otra operación que podemos realizar a una cadena es seleccionar solamente una parte de ella. Para ello se usa la notación **[inicio:fin:paso]** también en el nombre de la variable que almacena la cadena, donde:

* **Inicio**: es el índice del primer carácter de la porción de la cadena que queremos seleccionar.
* **Fin**: es el índice del último carácter no incluido de la porción de la cadena que queremos seleccionar.
* **Paso**: indica cada cuantos caracteres seleccionamos entre las posiciones de inicio y fin.

In [33]:
cadena

'Python'

In [34]:
cadena[0:4]

'Pyth'

In [35]:
cadena[0:6:2]

'Pto'

Algunas consideraciones a tener en cuenta es que si omitimos las posiciones de inicio o fin, nos referimos respectivamente a la primera y última posición de la cadena. Además omitir el paso es equivalente a indicar que el paso es 1. De este modo las selecciones anteriores también se podrían realizar del siguiente modo.

In [36]:
cadena[:4]

'Pyth'

In [37]:
cadena[4:]

'on'

In [38]:
cadena[::-1]

'nohtyP'

### Funciones y operaciones con strings

**Concatenación**

In [39]:
nombre = "Juana"
apellido = "Perez"

nombre + " " + apellido

'Juana Perez'

In [40]:
risa = "ja"

risa_larga = risa * 5

risa_larga

'jajajajaja'

**Reemplazar el caracter de un string**

In [41]:
lenguaje = 'Pithon'

In [42]:
lenguaje[1] = 'y'

TypeError: 'str' object does not support item assignment

En Python, las cadenas de caracteres tienen la **propiedad de inmutabilidad**

**¿Cómo podemos hacer?**

In [43]:
lenguaje[0] + 'y' + lenguaje[2:]

'Python'

### Algunos métodos

* **x.upper()**: este método devuelve una copia de la cadena convirtiendo las letras minúsculas a mayúsculas. El hecho de que devuelva una copia significa que la variable original no se ve afectada por la operación.

In [44]:
x = "Había una vez, un lenguaje de programación llamado Python"

In [45]:
x.upper()

'HABÍA UNA VEZ, UN LENGUAJE DE PROGRAMACIÓN LLAMADO PYTHON'

In [46]:
x

'Había una vez, un lenguaje de programación llamado Python'

* **x.lower()**: devuelve una copia de la cadena convirtiendo las letras mayúsculas a minúsculas.

In [47]:
x = "Había una vez, un lenguaje de programación llamado PYTHON"

In [48]:
x.lower()

'había una vez, un lenguaje de programación llamado python'

* **x.title()**: devuelve una copia de la cadena usando la notación de título.

In [49]:
x = "aprendiendo python 3"

In [50]:
x.title()

'Aprendiendo Python 3'

* **x.replace(viejo, nuevo)**: devuelve una copia de la cadena a la cual se le ha cambiado la primera ocurrencia del carácter especificado en viejo por el especificado en nuevo.

In [51]:
x = "Pithon"

In [52]:
x.replace("i", "y")

'Python'

* **x.lstrip()**: devuelve una copia de la cadena a la cual se le han eliminado los espacios del principio.

In [53]:
x = "     Aprendiendo Python 3  "

In [54]:
x.lstrip()

'Aprendiendo Python 3  '

* **x.rstrip()**: se comporta igual que el anterior pero para los espacios del final.

In [55]:
x.rstrip()

'     Aprendiendo Python 3'

## Booleanos

Una **variable booleana** es una variable que sólo puede tomar dos posibles valores: **True** (verdadero) o **False** (falso).

En Python cualquier variable (en general, cualquier objeto) puede considerarse como una variable booleana. En general los elementos nulos o vacíos se consideran False y el resto se consideran True.

Para comprobar si un elemento se considera True o False, se puede convertir a su valor booleano mediante la función bool().

**Operadores lógicos**

* **and**: "y" lógico. Este operador da como resultado True si y sólo si sus dos operandos son **True**:

In [56]:
True and True

True

In [57]:
True and False

False

In [58]:
False and True

False

In [59]:
False and False

False

* **or**: "o" lógico. Este operador da como resultado True si algún operando es True:

In [60]:
True or True

True

In [61]:
True or False

True

In [62]:
False or True

True

In [63]:
False or False

False

* **not**: negación. Este operador da como resultado True si y sólo si su argumento es False:

In [64]:
not True

False

In [65]:
not False

True

**Comparaciones**

In [66]:
3 > 1

True

In [67]:
10.01 < 10

False

In [68]:
"a" == "A"

False

In [69]:
'a' < 'z'

True

In [70]:
'4' != 4

True

## Listas

Las **listas en Python** (**list**) son en esencia una colección de elementos, no necesariamente del mismo tipo. Su característica principal reside en que el orden de sus elementos se mantiene en todo momento. Las listas usan corchetes ([]) para encerrar a sus elementos, y comas (,) para separarlos. En este post vamos a ver propiedades de las listas así como algunos de sus métodos más comunes.

In [71]:
# esto es una lista de numeros pares
mi_lista = [2, 8, 6, 4, 12]

**Tipos de elementos de en una lista**

In [72]:
lista1 = [2, "maria", "dos", False]

In [73]:
lista2 = ["uno", "dos", "tres"]

**Acceder y modificar elementos de una lista**

Los elementos de una lista están indexados del mismo modo que lo están los caracteres que conforman un string. Esto permite seleccionar un único elemento de una lista por la posición que ocupa en la misma. Para ello debemos especificar entre corchetes el índice del elemento teniendo en cuenta que el índice del primer elemento es 0. Además también podemos referirnos al último elemento con el índice -1, el penúltimo con el índice -2 y así sucesivamente.

In [74]:
lista = [30, 12, 18, 27, 13, 45]

lista[1]

In [75]:
lista[3] = 25

In [76]:
lista

[30, 12, 18, 25, 13, 45]

**Seleccionar los elementos de una lista**

In [77]:
lista = [30, 12, 18, 27, 13, 45]

In [78]:
lista[0:3]

[30, 12, 18]

In [79]:
lista[:3]

[30, 12, 18]

In [80]:
# invertir una lista
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
lista[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [81]:
lista

['a', 'b', 'c', 'd', 'e', 'f', 'g']

**Concatenar listas**

Dos listas pueden concatenarse en una de sola mediante el signo más (+). El resultado es una nueva lista con los elementos de las dos listas en el mismo orden de la concatenación.

In [82]:
letras = ['uno', 'dos', 'tres']
numeros = [4, 5, 6]

letras + numeros

['uno', 'dos', 'tres', 4, 5, 6]

**Réplica de listas**

Otra operación que admiten las listas es la de réplica, que se realiza mediante el signo de multiplicación (*). Esta operación es equivalente a concatenarle a una lista sus mismos elementos un número determinado de veces.

In [83]:
lista = [2, 4, 6]

lista * 2

[2, 4, 6, 2, 4, 6]

**Algunos métodos de las listas**

https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

* **min** de la lista

In [84]:
lista = [4, 2, 0, 1, 3]

min(lista)

0

* **max** de la lista

In [85]:
lista = [4, 2, 0, 1, 3]

max(lista)

4

* longitud (**len**) de lista

In [86]:
lista = [4, 2, 0, 1, 3]

len(lista)

5

* lista.**append(x)**: añade el elemento x al final de la lista.

In [87]:
lista = [4, 2, 0, 1, 3]

lista.append(9)

lista

[4, 2, 0, 1, 3, 9]

* lista.**extend(iterable)**: expande la lista añadiéndole los elementos de un objeto iterable. Este método es una alternativa a la concatenación de listas.

In [88]:
lista = [4, 2, 0, 1, 3]

lista.extend([9, 6])

lista

[4, 2, 0, 1, 3, 9, 6]

* lista.**pop(index=-1)**: elimina y devuelve el elemento cuya posición corresponde al índice especificado. Por defecto elimina el último elemento.

In [89]:
lista = [4, 2, 0, 1, 3]

lista.pop()

lista

[4, 2, 0, 1]

* lista.**sort()**: ordena los elementos de la lista.

In [90]:
lista = [4, 2, 0, 1, 3]

lista.sort()

lista

[0, 1, 2, 3, 4]

* lista.**reverse()**: invierte el orden de los elementos de una lista. Este método es equivalente a aplicar lista[::-1].

In [91]:
lista = [4, 2, 0, 1, 3]

lista.reverse()

lista

[3, 1, 0, 2, 4]

## Tuplas

Una tupla es una colección de objetos ordenados que encierra sus elementos con paréntesis () y los separa con comas. Las tuplas son muy similares a las listas, y pueden almacenar objetos de tipo distinto como enteros y strings entre otros. Sin embargo, al contrario que las listas presentan la propiedad de inmutabilidad. Esto implica que los elementos de una tupla no pueden reasignarse. El siguiente ejemplo ilustra estos dos conceptos.

In [92]:
tupla = (2, 'hola', False)

In [93]:
type(tupla)

tuple

In [94]:
tupla[0]

2

In [95]:
tupla[1] = 'chau'

TypeError: 'tuple' object does not support item assignment

A pesar de todas sus similitudes, existen diferentes **motivos por los cuales optar por una tupla y no una lista** en nuestro script:

* Manipular tuplas agiliza la ejecución del programa en comparación con una lista equivalente (aunque esta diferencia no sea apreciable con tamaños pequeños de listas o tuplas).
* Cuando quieres que los datos sean constantes durante toda la ejecución del programa y no puedan modificarse accidentalmente.
* En los diccionarios las claves tienen que ser objetos inmutables, por tanto pueden ser tuplas pero no listas.

**Embalar (tuple packing) y desembalar una tupla**

Las tuplas también pueden declararse sin necesidad de usar paréntesis. Cual sea el caso, la declaración de una tupla también se le denomina «embalar» la tupla (tuple packing en inglés), ya que todos sus elementos quedan asociados a un solo objeto.

In [96]:
# embalar
t = 'uno', 'dos', 'tres', 'cuatro'
type(t)

tuple

En el caso tuplas con un solo elemento hay que añadir una coma para que el intérprete de Python lo considere una tupla.

In [97]:
t = 2

In [98]:
type(t)

int

In [99]:
t = 2,

In [100]:
type(t)

tuple

In [101]:
# desembalar
t = ('uno', 'dos', 'tres', 'cuatro')
a, b, c, d = t

In [102]:
b

'dos'

In [103]:
cabeza, *cola = ('uno', 'dos', 'tres', 'cuatro')

cabeza

'uno'

In [104]:
cola

['dos', 'tres', 'cuatro']

#### Métodos de las tuplas

Las tuplas sólo disponen de dos métodos que son los siguientes:

* t.**count(x)**: cuenta el número de veces que el elemento x está en la tupla t.

In [105]:
t = (1, 1, 2, 3)
t.count(1)

2

* t.**index(x)**: retorna el índice más pequeño del elemento x en la tupla t.

In [106]:
t = (1, 1, 2, 3)
t.index(1)

0

**Conversión entre listas y tuplas**

La conversión entre estos dos tipos de objetos es muy sencilla. Si queremos convertir una lista en una tupla tenemos que usar declarar la tupla pasándole la lista en el constructor.

El paso inverso es equivalente, pero pasándole la tupla al constructor de la lista.

In [107]:
l = [1,2,3,4]
t = tuple(l)
t

(1, 2, 3, 4)

In [108]:
t = (1,2,3,4)
l = list(t)
l

[1, 2, 3, 4]

## Conjuntos (sets)

Un **set**, también llamado conjunto, es una colección de elementos desordenados que no admite duplicados. Se trata, por tanto, de una estructura de datos equivalente a los conjuntos en matemáticas. Además, como sucede con los elementos de las listas o las claves de los diccionarios, los elementos de un set no necesariamente han de ser del mismo tipo. En este post vamos a ver a fondo cómo utilizar los sets en Python.

**Creación de sets**

En Python los sets se pueden crear de dos formas distintas. Por un lado, usando llaves ({}) y separando sus elementos con comas (,) como se muestra a continuación:

In [109]:
numeros = {"uno", 2, 3.1415}

Alternativamente, podemos usar el constructor set al que le tenemos que pasar una lista con los elementos del set:

Para crear un set vacío, es decir sin elementos, sólo podemos hacerlo mediante el constructor ya que si lo hacemos con las llaves Python lo interpreta como un diccionario.

In [110]:
numeros = set()
type(numeros)

set

In [111]:
numeros = {}
type(numeros)

dict

Al principio del post hemos dicho que los sets no admiten elementos duplicados. Efectivamente, si intentamos añadir elementos duplicados a un set Python los ignora.

In [112]:
numeros = {"uno", 2, 3.1415, "uno", 2, 3.1415}
numeros

{2, 3.1415, 'uno'}

**Acceder a los elementos de un set**

En Python solemos usar los corchetes ([]) para acceder a los elementos de una estructura de datos. Por ejemplo, en las listas indicamos el índice (o posición) que ocupa el elemento en la lista. Sin embargo, los sets son colecciones de elementos desordenados que no están indexados. Por tanto, si intentamos acceder a sus elementos como lo haríamos en una lista obtenemos un error de tipo TypeError.

In [113]:
numeros = {"uno", 2, 3.1415, "uno", 2, 3.1415}
numeros[0]

TypeError: 'set' object is not subscriptable

In [114]:
# En su lugar, para acceder a los elementos de un set tenemos que recurrir a un bucle for.
for elemento in numeros:
    print(elemento)

uno
2
3.1415

O podemos comprobar si un elemento pertenece a un conjunto mediante la palabra clave **in**

In [115]:
'uno' in numeros

True

In [116]:
'dos' in numeros

False

**Añadir y eliminar elementos a un set**

Para añadir un nuevo elemento a un set tenemos el método add(). Sin embargo, recordemos que los sets no admiten elementos duplicados, por tanto el método add() sólo añade el elemento si éste no se encuentra dentro del set, tal y como se muestra a continuación:

In [117]:
numeros

{2, 3.1415, 'uno'}

In [118]:
numeros.add(5)
numeros

{2, 3.1415, 5, 'uno'}

Si lo deseamos, podemos añadir varios elementos de golpe con el método **update()**, el cual utiliza una lista como parámetro de entrada.

In [119]:
numeros.update([5, 6.283])
numeros

{2, 3.1415, 5, 6.283, 'uno'}

Para eliminar elementos de un set existen dos métodos principales que son remove() y discard().

In [120]:
numeros

{2, 3.1415, 5, 6.283, 'uno'}

In [121]:
numeros.remove(6.283)
numeros

{2, 3.1415, 5, 'uno'}

In [122]:
numeros.discard(5)
numeros

{2, 3.1415, 'uno'}

La diferencia entre estos dos métodos radica en que el método **remove()** lanza un error de tipo KeyError si el elemento que intentamos eliminar no se encuentra el set. Por el contrario, el método **discard()** no hace nada si intentamos eliminar un elemento que no pertenece al set.

Pero los métodos **remove()** y **discard()** no son los únicos que nos permiten eliminar elementos de un set. En ciertos casos nos puede interesar eliminar un elemento aleatorio de un set. Para ello existe el método **pop()**, el cual retorna el elemento extraído del set.

In [123]:
numeros

{2, 3.1415, 'uno'}

In [124]:
numeros.pop()

2

**Operaciones entre conjuntos**

Donde podemos sacar mayor partido a los sets es cuando aplicamos las operaciones que vamos a ver a continuación. Para ello vamos a utilizar los siguientes sets como ejemplos.

In [125]:
impares = {1, 3, 5, 7, 9}
primos = {2, 3, 5, 7}

<img src="images/operaciones-con-sets.png" alt="drawing" width="400"/>

**Unión**

La unión dos conjuntos retorna un conjunto que contiene todos los elementos pertenecientes a alguno de los dos conjuntos. En Python esta operación se puede realizar mediante la barra vertical (|) o el método union().

In [126]:
impares | primos

{1, 2, 3, 5, 7, 9}

In [127]:
impares.union(primos)

{1, 2, 3, 5, 7, 9}

**Intersección**

La intersección de dos conjuntos es un conjunto que contiene los elementos que pertenecen a ambos conjuntos. En Python se realiza con el símbolo ampersand (&) o el método intersection().

In [128]:
impares & primos

{3, 5, 7}

In [129]:
impares.intersection(primos)

{3, 5, 7}

**Diferencia**

La diferencia entre un conjunto A y un conjunto B es el resultado de eliminar del conjunto A cualquier elemento presente en B. Por tanto, el orden en el que se realiza la operación es significativo tal y como es muestra en el siguiente ejemplo. En Python podemos calcular la diferencia entre dos conjuntos mediante el signo menos (-) o el método difference().

In [130]:
impares - primos

{1, 9}

In [131]:
impares.difference(primos)

{1, 9}

In [132]:
primos.difference(impares)

{2}

**Diferencia simétrica**

La diferencia simétrica entre dos conjuntos comprende todos los elementos que pertenecen a uno de los dos conjuntos, pero no a ambos a la vez. Esta operación se puede realizar en Python mediante el acento circunflejo (^) o el método symmetric_difference().

In [133]:
impares ^ primos

{1, 2, 9}

In [134]:
impares.symmetric_difference(primos)

{1, 2, 9}

## Diccionarios

Los **diccionarios (dict) almacenan pares de objetos clave-valor (key-value)**. En contraste con las listas, los diccionarios no garantizan que se mantenga el orden en que sus objetos han sido almacenados. Además, en un diccionario el acceso a un objeto se realiza indicando la clave de ese objeto. Este es otro elemento diferenciador entre diccionarios y listas, donde el acceso a los objetos se realiza indicando la posición que ocupan. Los diccionarios utilizan llaves ({}) para encerrar a sus elementos, y dos puntos (:) para indicar las claves y sus valores asociados.

In [135]:
my_dict = {"nombre": "filomena", "edad": 31}

In [136]:
type(my_dict)

dict

#### Tipos de clave-valor permitidos

Los diccionarios pueden tratar con prácticamente cualquier tipo de dato y existen muy pocas restricciones en cuanto a las claves y valores que se pueden utilizar. Estas restricciones son las siguientes:

* **Clave**: no puede haber claves duplicadas y éstas tienen que ser objetos inmutables.
* **Valor**: no existe ninguna restricción en cuanto a los tipos de datos.

En el siguiente ejemplo vemos un diccionario con claves de distinto tipo: string, número entero, número en coma flotante, e incluso booleano. Así mismo el valor que se toma para las claves repetidas es el último que se ha definido. Es por ello que el valor asociado a la clave «2» es False.

In [137]:
my_dict = {'clave1':'valor1', 2:2.5, 3.1:3, True:['a','b','c'], 2:False}

In [138]:
my_dict

{'clave1': 'valor1', 2: False, 3.1: 3, True: ['a', 'b', 'c']}

#### Acceder y modificar valores de un diccionario

Para acceder a un objeto determinado de un diccionario tenemos que indicar entre corchetes el nombre de su clave. De modo muy similar podemos modificar el valor de una clave asignándole un nuevo valor mediante el signo igual (=). Además, también podemos añadir un nuevo par clave-valor indicando simplemente el nombre de la clave a añadir. 

Estas operaciones se ilustran en el siguiente bloque de código donde: 

* **a)** accedemos al precio de las manzanas.
* **b)** modificamos el precio de las manzanas.
* **c)** añadimos el precio del agua al diccionario de precios.

In [139]:
precios = {'naranjas':1.6, 'peras':3.45, 'manzanas':0.99}

In [140]:
precios['peras']

3.45

In [141]:
precios['peras'] = 1.65

In [142]:
precios

{'naranjas': 1.6, 'peras': 1.65, 'manzanas': 0.99}

In [143]:
precios['kiwi'] = 6.15

In [144]:
precios

{'naranjas': 1.6, 'peras': 1.65, 'manzanas': 0.99, 'kiwi': 6.15}

#### Métodos de los diccionarios

* d.**keys()**: devuelve una lista que contiene las llaves del diccionario.

In [145]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}
capitales.keys()

dict_keys(['Argentina', 'Francia', 'España'])

In [146]:
list(capitales.keys())

['Argentina', 'Francia', 'España']

* d.**values()**: devuelve una lista que contiene los valores del diccionario.

In [147]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}
list(capitales.values())

['Buenos Aires', 'Paris', 'Madrid']

* d.**items()**: devuelve una lista de tuplas con los pares clave-valor del diccionario.

In [148]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}
list(capitales.items())

[('Argentina', 'Buenos Aires'), ('Francia', 'Paris'), ('España', 'Madrid')]

* d.**clear()**: elimina todos los elementos del diccionario.

In [149]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}
capitales.clear()

capitales

{}

* d.**get(clave, valor_por_defecto)**: devuelve el valor de la clave indicada en caso que ésta exista. En caso contrario devuelve el valor por defecto.

In [150]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}

capitales.get('Italia', 'Capital no encontrada')

'Capital no encontrada'

* d.**pop(clave, valor_por_defecto)**: elimina la clave indicada y devuelve su valor. En caso que el diccionario no contenga la clave especificada, retorna el valor por defecto.

In [151]:
capitales = {'Argentina':'Buenos Aires', 'Francia':'Paris', 'España':'Madrid'}

capitales.pop('Argentina')

'Buenos Aires'

In [152]:
capitales

{'Francia': 'Paris', 'España': 'Madrid'}